.link {
    color:black;
    text-decoration: none;
}
.link:hover {
  color: #00F
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}


.label {
    padding-right: 10px;
}

.card {
  background-color : transparent;
  margin: 20px;
  width: 18rem;
  color:black
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination button {
  border: none;
  background: red;
  cursor: pointer;
  padding: 8px 16px;
  display: inline-block;
}

.but {
  color: black;
  float: left;
  padding: 8px 16px;
  border-radius: transparent;
}

.but.active {
  background-color: #3f2514;
  color: white;
}

.but:hover:not(.active) {background-color: #ddd;}



.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}



#main {
  border-color: red;
}


body {
  text-align: center;
  height: 100vh;
  background-image: url("./poke.png");
  background-attachment: fixed;
  background-size: cover;
}



.forma {
  border-radius: 15px;
  background-color: rgb(230, 101, 54);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.forma input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.forma button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(255, 0, 0);
  cursor: pointer;
}

.card {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
}

.textBox {
  text-align: center;
  border-radius: 10px;
  width: 120px;
  background-color: rgb(230, 101, 54);
}