.link {
    color:black;
    text-decoration: none;
}
.link:hover {
  color: #00F
}
.form-container {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
}


.label {
    padding-right: 10px;
}

.card {
  background-color : transparent;
  margin: 20px;
  width: 18rem;
  color:black
}

.card-title {
  margin-bottom: 15px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}

.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: inline-block;
}

.but {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: transparent;
}

.but.active {
  background-color: #3f2514;
  color: white;
}

.but:hover:not(.active) {background-color: #ddd;}



.list-item {
  margin: 0;
  display: flex;
  height: 100%;
  width: auto;
  align-items: center;
}



#main {
  border-color: red;
}
