.danger {
    color:red
}
.crea-containers {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}
.link {
  color:black;
  text-decoration: none;
}

.inProgresses {
  /* text-align: center; */
  display: flex;
  flex: row;
  align-content: center;
  width:300px;
  height:300px;
  background: url("inProgres.gif") no-repeat;
  background-size: contain;
}
#refresh {
  background-color: red;
  border-radius: 12px;
}
#submitPrevew {
  background-color: rgb(230, 101, 54);
  border-radius: 12px;
}

.form {
  border-radius: 15px;
  background-color: transparent;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 50%;
  height: 20px;
  margin: 0.5rem;
  text-align: center;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(255, 0, 0);
  cursor: pointer;
}


.cardano {
  background-color : yellow;
  margin: 20px;
  width: 18rem;
  color:black
}

.text {
  width: 60%;
  background-color : orange;
  border-radius: 15px;
}
.text input {
  background-color: red;
}

.card-title {
  margin-bottom: 15px;
}


.card-body {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
.cards {  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}