.navbar {
    height: 56px;
    width: 100%;
    top: 0;
    left: 0;
    background-color:rgb(224, 22, 22);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    position: fixed;
}

.logo {
  margin-top: 180px;
  width: 250px;
  height: 250px
}
.navbar nav {
    height: 100%;
}



.list-item {
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.list-item a {
    color: black;
    height: 100%;
    padding: 16px 10px;
    border-bottom: 4px solid transparent;
    text-decoration: none;
}

.list-item a.active {
  background-color: #000000;
  color: white;
}
.list-item a:hover:not(.active) {
  background-color: #ddd;
  color:black
}

